.wrapper {
  display: grid;
  grid-template-columns: 565px auto;
  max-height: 100%;
  overflow: auto;

}

.aside {
  background: #ffffff;
  padding: 20px 12px;
  border-right: 1px solid #edeef1;

  overflow: auto;
  max-height: 100%;
}

.main {
  height: calc(100vh - 77px);
}