@import '../../assets/styles/component-base.scss';

.wrapper{
  background-image: linear-gradient(to bottom, #090810 0%, #171236 100%);
  &.lightMode{
    background-image: none;

  }
}
.container {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 77px;

}
.logoLink:hover{
  transition: all .3s;
  .logoText{
    opacity: .8;
  }
}
