.eyeButton {
  display: flex;
  align-items: center;
  height: 100%;

  padding-right: 18px;
  position: absolute;
  right: 0;
  top: 0;

  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}