.resetPassword {
  display: block;
  margin-top: 5px;
  color: #8c8c8c;
  text-align: right;
  letter-spacing: 0.4px;
}

.error {
  display: block;
  margin-top: 5px;
  color: #d56e00;
  text-align: right;
}